<footer class="footer">
    <div class="contact-info">
      <p>Contact: +123 456 7890 | +987 654 3210</p>
      <p>Email: travelAWay&#64;gmail.com</p>
    </div>
  
    <div class="social-media">
      <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://www.twitter.com" target="_blank" aria-label="Twitter">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com" target="_blank" aria-label="LinkedIn">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
  
    <div class="company-info">
      <p>This webpage is created and maintained by Juliet Wilson.</p>
    </div>
  </footer>
  